@tailwind base;
@tailwind components;
@tailwind utilities;

.alumni-sans-500 {
    font-family: "Alumni Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.alumni-sans-400 {
    font-family: "Alumni Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar-sticky-top {
    position: fixed;
    z-index: 999;
    opacity: 1;
    width: 100%;
}
